<% if flash[:notice] -%>
	<div id="notice">
		<%= flash[:notice] %>
	</div>
<% end -%>

<%= link_to("Create New Audition", new_audition_url)%>

<h2>Audition Listings</h2>

<table>
	<tr>
		<th>Title</th>
		<th>Interest</th>
	</tr>
	<% @auditions.each do |audition| %>
		<tr>
			<td><%= link_to(audition.title, view_audition_url(:id => audition.id)) %></td>
			<td id="audition_<%= audition.id %>"><%= link_to_remote(audition.display_status, :url => flip_status_url(:id => audition.id))%></td>
		</tr>
	<% end %>
</table>
