<%= link_to("Back to listings", audition_listing_url) %> <br/>

<h2><%= @audition.title %></h2>

<p>
	Location:
	<%= @audition.location %>
</p>

<p>
	Date and Time:
	<%= @audition.date %>
</p>

<p>
	Audition Requirements:<br/>
	<%= @audition.reqs %>
</p>

<p>
	Notes:<br/>
	<%= @audition.notes %>
</p>

<p>
	<div id="audition_<%= @audition.id %>">
		<%= link_to_remote(@audition.display_status, :url => flip_status_url(:id => @audition.id))%>
	</div>
</p>